header {
    width: 100VW; 
    height: 75px;
    border: 3px solid black;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

header h2 {
    margin-left: 20px;
}

#back-btn {
    justify-content: start;
}

#back-btn button {
    background-color: black;
    color: white;
    height: 30px;
}

.dark-mode #back-btn button {
    background-color: white;
    color: black;
}

#dark-mode-btn {
    margin: 20px;
    height: 30px;
    width: 40px;
    background-color: rgb(48, 47, 47);
    border-radius: 40px; 
    justify-content: end;
}

.dark-mode {
    background-color: black;
    color: white;
}

.dark-mode header {
    border: 3px solid white;

}

.dark-mode section {
    border: 3px solid white;

}

.dark-mode footer {
    border: 3px solid white;

}
#header-btns {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
}

.blog-container {
    border: 3px solid black;
    height: 80vh;
    width: 100vw;
    margin-top: 10px;
}

footer {
    width: 100vw;
    margin-top: 10px;
    border: 3px solid black;
    
}

footer h3 {
    margin-left: 20px;
}